body {
  margin: 0;
}

.daily {
  display: grid;
  border: 5px solid black;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 200px;
}

.Monday {
  grid-column: 1 / 2;
}

.Tuesday {
  grid-column: 2 / 3;
}

.Wednesday {
  grid-column: 3 / 4;
}

.Thursday { 
  grid-column: 4 / 5;
}

.Friday {
  grid-column: 5 / 6;
}

.Saturday {
  grid-column: 6 / 7;
}

.Sunday {
  grid-column: 7 / 8;
}